<div class="container" id = "tag">
    <h1>Order Allocation</h1>
    <form [formGroup]="loginForm" (ngSubmit)='loginuser()'>

        <input type="text" formControlName="octane" placeholder="Octane" class="form-control">
        <br>
       
        <input type="text" formControlName="litter" placeholder="Litter" class="form-control">
        <br>
    
        <input type="submit" value="Submit" onsubmit="window.alert('sometext')" class="btn btn-primary" id = "submitButton" />
    </form>
<br>
    <p>
        <ngb-alert [type]="success">
            Order Allocation sucessfully completed.
        </ngb-alert>
      </p>
</div>

