<div class="container">
   
  <form (ngSubmit)="checkOrderById()">

    
    <input type="text" class="form-control" id="StationId" placeholder="Station ID" [(ngModel)]="orderId" name="StationId">
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

</div>
<div class="container">

<table class="table" *ngIf="orderDetails">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Station Id</th>
        <th scope="col">Fuel Type</th>
        <th scope="col">Quantity </th>
        <th scope="col">Order Reserved</th>
        <th scope="col">Reserved Time</th>
        <th scope="col">Scheduled Time</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{this.orderDetails.orderID}}</td>
        <td>{{this.orderDetails.stationId}}</td>
        <td>{{this.orderDetails.fuelType}}</td>
        <td>{{this.orderDetails.quantity}}</td>
        <td>{{this.orderDetails.allocated}}</td>
        <td>{{this.orderDetails.allocatedTime}}</td>
        <td>{{this.orderDetails.scheduledTime}}</td>
      </tr>
    </tbody>
  </table></div>