<div class="container">
    <form (ngSubmit)="submitOrder()">
        <br>
        <select class="form-control" [(ngModel)]="orderModel.fuelType" >
            <option value="petrol">Petrol</option>
            <option value="auto_diesel">Auto diesel</option>
            <option value="supper_diesel">Supper diesel</option>
        </select>
        <br>
        <select class="form-control" [(ngModel)]="orderModel.quantity">
            <option value="petrol">L3300</option>
            <option value="auto_diesel">L6600</option>
            <option value="supper_diesel">L13200</option>
        </select>
        <br>
        <input type="text" class="form-control" placeholder="Station ID" [(ngModel)]="orderModel.StationId">
        <br>
        <button type="submit" class="btn btn-primary">Place an Order</button>
    </form>
</div>
