<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="order-list" routerLinkActive="active">Order List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dispatch-order" routerLinkActive="active">Dispatch Order</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>